{% macro javascript() %}
<script src="{{ get_url(path='js/bootstrap.min.js') }}"></script>
<script src="{{ get_url(path='js/jquery.min.js') }}"></script>
<script src="{{ get_url(path='js/jquery.waypoints.min.js') }}"></script>
<script src="{{ get_url(path='js/gsap.min.js') }}"></script>
<script src="{{ get_url(path='js/imageloaded.min.js') }}"></script>
<script src="{{ get_url(path='js/magnific-popup.min.js') }}"></script>
<script src="{{ get_url(path='js/slick.min.js') }}"></script>
<script src="{{ get_url(path='js/main.js') }}"></script>
{% endmacro  %}

{% macro google_analytics() %}
 {% if config.extra.ganalytics %}
   <script async src="https://www.googletagmanager.com/gtag/js?id={{config.extra.ganalytics}}"></script>
   <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());
       gtag('config', '{{ config.extra.ganalytics }}');
   </script>
 {% endif %}
{% endmacro  %}